.convolution-container{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    grid-area: filter;
    justify-self: center;
}

#filter-title{
    grid-area: title
}

.convolution{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: "title"
                         "filter"
                         "scale"
                         "size"
                         "presets";
}

.setting{
    margin: 15px;
}

.filter-number{
    width: 50px;
    height: 50px;
    align-self: center;
    margin-left: auto !important;
    margin-right: auto;
    text-align: center;
}

.size{
    grid-area: size
}

.filter-scale{
    margin-top: 50px;
    height: fit-content !important;
    grid-area: scale
}

.filter-scale input{
    width: 200px;
    height: 50px; 
}

input[type="number"], select{
    margin-left: 20px   
}