#display, #convolved-display{
    background: #515151;
}

.image-display{
   height: fit-content;
   justify-self: center;
   align-self: center;
   justify-content: center;
   display: grid;
   grid-template-areas: "original convolved"
                        "original-canvas new-canvas"
                        "image-button download-button"
}

#original {
    grid-area: original
}

#convolved {
    grid-area: convolved
}

#display {
    grid-area: original-canvas
}

#convolved-display{
    grid-area: new-canvas
}

#image-button{
    grid-area: image-button
}

#download-button{
    grid-area: download-button
}

input[type="file"]{
   max-height: 100px;
   display: none;
}

.image-button{
    height: 50px;
    text-align: center;
    font-size: 16px;
    background: slategray;
    cursor: pointer;
    margin: 10px;
}

a.image-button{
    line-height: 3;
    text-decoration: none;
    color: black
}

canvas{
    margin: 15px;
}

@media (max-width: 1350px){
    canvas{
        height: 300px;
        width: 300px;
    }

    .image-display {
        grid-template-areas: "original"
                             "original-canvas"
                             "convolved"
                             "new-canvas"
                             "image-button"
                             "download-button"
    
    }

    .image-display h2{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    canvas{
        margin: 0px;
    }

    .title{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}


h1, h2, h3, label{
    color: white;
    font-family: 'Roboto Slab';
}
