@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body{
  background: #192a56;
}

.dimension{
  grid-column: 1/3;
  justify-self: center;
}

#dimension{
   width: 200px;
   height: 50px;
}

.title{
  
  font-size: 60px;
}



.nonfilter-number{
  font-size: 25px;
  padding-left: 15px;
}